<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dpfdhkcil/image/upload/v1669298113/office-banner_y7mpsn.png);">
  <div class="container">
    <h1>Office Place helps you <strong>buy</strong> and <strong>sell</strong></h1>
    <p>all your used office supplies!</p>
    <a class="btn btn-flat" href="<%= new_product_path(@product) %>">Sell now!</a>
    <a class="btn btn-flat" href="<%= products_path(@product) %>">Buy now!</a>
  </div>
</div>
<div class="container d-flex justify-content-center">

<div id="carouselExampleControls" class="carousel slide d-flex justify-content-center mt-5" data-bs-ride="carousel">
  <div class="carousel-inner">
    <h4>Our most recently added products</h4><br>
      <div class="card-product-home">
    <% @products.reverse.first(3).each_with_index do |product, index| %>
       <%# <%= cl_image_tag product.photo.key%>
      <div class="carousel-item <%="active"if index.zero? %>">
        <p><a href="<%= products_path(@product) %>" ><%= cl_image_tag product.photo.key,crop: :fill, alt: "imagem escritório",class: "d-block w-100 img-fluid"%></a></p>
      </div>
    <% end %>
       </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>


<!-- Bootstrap JavaScript library -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"></script>
</body>
