<%= simple_form_for @offer, url:product_offers_path do |f| %>
 <%= f.error_notification %>
 <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

 <div class="form-inputs">
   <%= f.input :quantity %>
 </div>

  <div class="form-actions btn btn-danger">
   <%= f.button :submit %>
 </div>
<% end %>
