<div class="card-container">
  <div class="card mb-3" style="width: 800px;">
    <div class="card-info">
        <div class="col-md-6">
          <%= cl_image_tag(@offer.product.photo.key, :size => "400X400") %>
        </div>
      <div class="col-md-6">
        <div class="card-body">
          <h3 class="card-title"><%=@offer.product.title%></h3>
          <p class="card-text"><%= @offer.product.info %></p>
          <h2 class="card-trip-pricing"><%= number_to_currency(@offer.product.price)%></h2>
          <p>Quantity of items purchased: <%= @offer.quantity %></p>
          <p class="card-text"><small class="text-muted"><%= @offer.user.first_name.capitalize%>, thank you for your purchase!</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
