
<h1 class="text-center">Products</h1>


<div class="container">
  <div class="card-products">
  <% @products.each do |product| %>
    <div class="card-product">
      <%= cl_image_tag product.photo.key%>
      <div class="card-product-infos">
        <h2><%= product.title %></h2>
        <p>R$<%= number_to_currency(product.price) %></p>
        <p>
          <%= link_to "Read More", product, class: 'btn btn-dark' %>
        </p>
      </div>
    </div>
  <% end %>
  </div>
  <div class="card-create-btn">
    <%= link_to "Create Product", new_product_path, class: 'btn btn-primary mb-5' %>
  </div>
</div>
