<h1>aaaaaaaaaaa</h1>
<div id="products">
          fazer um card
  <% @products.each do |product| %>
    <%= product.title %>
    <%= product.price %>
    <%= cl_image_tag product.photo.key%>
    <p>
      <%= link_to "Show this product", product, class: 'btn btn-dark' %>

    </p>
  <% end %>
  <%= link_to "Create Product", new_product_path, class: 'btn btn-danger' %>
</div>
