<div class="containier">
  <div class="row">
    <div class="col-sm-8">
      <%= cl_image_tag @product.photo.key, class: "imagem-produtos"%>
    </div>
    <div class="col-sm-4 justify-content-center">
      <h1><%= @product.title.capitalize %></h1>
      <p>Product description: <%= @product.info %></p>
      <p>R$ <%= @product.price %></p>
      <p>Quantidade: <%= @product.available %></p>
      <%= link_to 'Buy', new_product_offer_path(@product), class: 'btn btn-success' %>
    </div>
  </div>
  </div>
      <p><%= @product.user.first_name.capitalize%><%= @product.user.last_name.capitalize %> is the seller of this product.</p>
</div>
